opendkim:
  conf:
    UserID: "opendkim:opendkim"
    KeyTable: "/etc/opendkim/KeyTable"
    SigningTable: "file:/etc/opendkim/SigningTable"
    PidFile: "/var/run/opendkim/opendkim.pid"
    Mode: "v"
    Syslog: "yes"
    SyslogSuccess: "yes"
    LogWhy: "yes"
    Socket: "inet:8891@localhost"
    Umask: "002"
    SendReports: "no"
    SoftwareHeader: "yes"
    Canonicalization: "relaxed/relaxed"
    Selector: "default"
    MinimumKeyBits: "1024"
    OversignHeaders: "From"
  manageKeyTable: true
  manageSigningTable: true
  privateKey:
    directory: "/etc/opendkim/keys"
    key:
      example.com:
        selector: |
          -----BEGIN RSA PRIVATE KEY-----
          -----END RSA PRIVATE KEY-----
 
