opendkim:
  conf:
    PidFile: "/var/run/opendkim/opendkim.pid"
    Mode: "v"
    Syslog: "yes"
    SyslogSuccess: "yes"
    LogWhy: "yes"
    UserID: "opendkim:opendkim"
    Socket: "inet:8891@localhost"
    Umask: "002"
    SendReports: "no"
    SoftewareHeader: "yes"
    Canonicalization: "relaxed/relaxed"
    Selector: "default"
    MinimumKeyBits: "1024"
    KeyFile: "/etc/opendkim/key/default.private"
    OversignHeaders: "From"
  key:
    manageKeyTable: true
    manageSigningTable: true
    private:
      example.com:
        selector: |
          -----BEGIN RSA PRIVATE KEY-----
          -----END RSA PRIVATE KEY-----
 
